
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_LWIP_TCP_PCB_NUM=16
CONFIG_LWIP_UDP_PCB_NUM=16

CONFIG_ESP_WIFI_SOFTAP_BEACON_MAX_LEN=1024
CONFIG_ESP_WIFI_CSI_ENABLED=n
CONFIG_ESP_WIFI_MBO_SUPPORT=n
CONFIG_ESP_WIFI_DPP_SUPPORT=n
CONFIG_ESP_WIFI_NAN_ENABLE=n
CONFIG_ESP_WIFI_11R_SUPPORT=n
CONFIG_ESP_WIFI_11KV_SUPPORT=n
CONFIG_ESP_WIFI_AMPDU_TX_ENABLED=y
CONFIG_ESP_WIFI_TX_BA_WIN=16
CONFIG_ESP_WIFI_AMPDU_RX_ENABLED=y
CONFIG_ESP_WIFI_RX_BA_WIN=16
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=25
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=128
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=128

# Support for aircrack 
CONFIG_MBEDTLS_CMAC_C=y
CONFIG_MBEDTLS_AES_C=y

# Enable WebSocket
CONFIG_HTTPD_WS_SUPPORT=y

# ---------------------------------------------------------
# 3. NETWORKING LIGHTWEIGHT (Risparmio RAM estremo)
# ---------------------------------------------------------
# Disabilita IPv6 (Risparmi ~30KB RAM/ROM) - Usi solo IPv4 per Evil Twin
CONFIG_LWIP_IPV6=n
# Disabilita Ethernet (Hardware che non usi)
CONFIG_ETH_ENABLED=n

# Tick Rate a 1000Hz per timing chirurgico (vTaskDelay 1ms)
CONFIG_FREERTOS_HZ=1000
